.page-container{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
}
.page-background{
    width: 120%;
    height: 120%;
    position: absolute;
    left: -10%;
    top: -10%;
    background-image: url(../img/backgrounds.jpeg);
    background-size: cover;
    background-position: center;
    -webkit-filter:blur(1px);
}